html {

    
}

body {

}

body #app {

    display: flex;
    flex-direction: row;
    flex: auto;
    /* align-content: stretch; */
    height: 100vh;
}

body::before {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
	height: 50px;
	content: "";
	-webkit-app-region: drag;
}

aside.app-sidebar {

    min-width: 68px;
    display: flex;
    flex-direction: row;
    position: relative;


}
aside.app-sidebar.open {

    min-width: 368px;
    width: 35vw;
    max-width: 450px;
}



.pillar {

    position: static !important;
    width: 68px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    flex-shrink: 0;
    justify-content: flex-start;

}




aside .pillar > * {

    width: 100% !important;
    height: 48px;
    position: static !important;
    padding: 0;
}

aside .pillar .tab.profile {


    width: 100%;
    height: 100%;
    padding: 0;
    vertical-align: middle;
    
}

aside .pillar .user-navigation a {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

aside .pillar .tab.profile img {

    display: block;
    position: static;
    margin-left: auto;
    margin-right: auto;
    transform: none;
    top: 0;
    left: 0;

}

aside .pillar .user-navigation:last-child {

    margin-top: auto;
    align-self: flex-end;

}

aside #tray {

    position: static !important;
    min-width: 300px;
    width: auto;
    display: flex;

}

aside .pillar .tray-controls {

    margin: 0;
    height: auto;


}

aside .pillar .tray-controls > * {

    margin: 0;
    height: 48px;
    text-align: center;
    position: static;
    width: 100%;

}

aside.app-sidebar.open ~ #page, aside.app-sidebar ~ #page {

    padding: 0;
}

#app #page  {

    width: auto;
    flex: auto;
    overflow: auto;

}

button {

    -webkit-app-region: no-drag;

}

div.accessible-focus:focus, button.accessible-focus:focus, a.accessible-focus:focus {

    outline: none !important;
}

:focus {

    outline: -webkit-focus-ring-color auto 3px;
}


h1 {

    display: none;
}